body {
	margin-left: 0%;
	margin-right: 0%;
	margin-top: 0%;
	padding: 0;
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 95%;
	background-color: #415473;/*#FAF8F8;*/
	border: 0px;
}
#wrapper {
	position: relative;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0;
	width: 85%;
	height: 100%;
	background-color: #d7dce4; /*#415473; Dark Blue Color*/
	margin-right: auto;
	margin-left: auto;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}
#header {
	height:100px;
	border-bottom: 2px solid white;
	margin: 0px;
	padding: 15px;
	color: white;
	background-color: #4c90d4;
}
#header h1 {
	font-size: 36px;
}
#siteLogo {
	margin-right: 20px;
	padding:1em 0 0 1em;
	float:left;
	width:100px;
	height:100px;
	background: url('../images/waltonLogo.gif') no-repeat; /*The Site Logo - A Mathematica Fractal*/
}
#navBar {
	margin: 0px;
	height: 30px;
	padding:5px;
	background-color: #b8b9bb;
}
#navBar ul {
	position: absolute;
	top: 141px;
	left: 50px;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#navBar li {
	list-style-type:none;
	display: inline;
}
.textMain {
	padding-bottom: 20px;
}
.textMain li {
	list-style-type: circle;
	padding: 5px;
	line-height: 1.3em;
}

.textMain2 {
	padding-bottom: 20px;
}
.textMain2 li {
	list-style-type: circle;
	margin-right: 8%;
	padding: 5px;
	line-height: 1.5em;
}



.linksSideBarOne ul a, .linksSideBarTwo ul a,.linksSideBarThree ul a, #navBar ul a {
	text-align: center;
	line-height: 1.6em;
	padding: 2px 20px;
	text-decoration: none;
	font-size:95%;
	color: white;/*#fff;*/
	font-weight:normal;
	background:url('../images/waltonLogo15BW.gif') left center no-repeat; /*Ernest Walton Logo Mathematica Fractal Black-and-White*/
}
.linksSideBarOne ul a, .linksSideBarTwo ul a,  .linksSideBarThree ul a {
	color: black;/*#fff;*/
}
.linksSideBarOne ul a:hover, .linksSideBarTwo ul a:hover,.linksSideBarThree ul a:hover, #navBar ul a:hover {
	color: #415473;
	background:url('../images/whiteDiamond.gif') left center no-repeat; /*White Diamond Background image*/
}
.linksSideBarOne ul a:hover, .linksSideBarTwo ul a:hover, .linksSideBarThree ul a:hover{
	color: white;
}
#welcomeYourName {
	background: #d7dce4;
	padding-bottom: 20px;
}

#welcomeYourName p {
	padding-right: 20px;
	float: right;
}

#mainDiv {
	margin-left: 25%;
	margin-right: 3%;
	background-color: #d7dce4;
}

#minorDiv {
	position: absolute;
	top: 212px;
	left: 0px;
	width: 22%;
	height: 400px;
	background: #d7dce4;				/*used to beFAF8F8*/
}
div.linksSideBarOne {
	position:absolute;
	top: 100px;
	margin: 10px;
}
div.linksSideBarTwo {
	position:absolute;
	top: 400px;
	margin: 10px;
}

div.linksSideBarThree {
	position:absolute;
	top: 700px;
	margin: 10px;
}


.linksSideBarOne li, .linksSideBarTwo li, .linksSideBarThree li  {
	list-style-type:none;
}
#footerWithLinks {
	padding: 15px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background-color: #b6b7b9;
}
#footerWithLinks li a {
	color:black;
	text-decoration: none;
}
#footerWithLinks ul li a:hover {
	color: white;
}
#footerWithLinks li {
	display: inline;
	padding: 2px 2px 2px 2px;
}
#footerAtEnd {
	background-color: #415473;
	padding: 5px;
	color:white;
	margin: 0px;
}
#footerAtEnd li {
	display: inline;
	padding: 5px;
}
#footFloatLeft {
	float:right;
}
#footerAtEnd a {
	padding-left: 0px;
	color:white;
	text-decoration: none;
}
#footerAtEnd li a {
	padding-right: 10px;
}
#footerAtEnd a:hover {
	color: #b8b9bb;
}
.rightFloat {
	font-size: 95%;
	float: right;
	margin: 10px 10px 10px 40px;
}

.leftFloat {
	font-size: 95%;
	float: left;
	margin: 10px 40px 10px 10px;
}
.myitalics {
	font-style: italic;
}
.superscript {
	font-size: x-small;
	vertical-align:top;
}
.PictCaptionOne {
	color: black;
	font-size: 90%
}
.PictCaptionTwo {
	text-indent: 10px;
	color: black;
	font-size: 90%;
	padding-top: 10px;
	margin: 0px
}


.PictCaptionThree {
	margin: 0px;
	padding: 2.2px;
	text-indent: 10px;
	color: black;
	font-size: 90%;
}

.PictCaptionFour {
 text-indent: 5px;
	padding: 4px 2.2px 2.2px 2.2px;
	color: black;
	font-size: 90%;
}
.PictCaptionFive {
	padding: 10px;
	line-height: 1.5em;
	color: black;
	font-size: 90%
}

/*switcher*/

#switcher li {
	margin-left: -25px;
	list-style-type:none;
	width: 160px;
	background-color:#d7dce4;
}
#switcher li ul {
	margin: 0px;
	padding: 0px;
}
#switcher li a {
	color: white;
	text-decoration: none;
	width: 100%;
	display:block;
	padding-left: 20px;
	background:url('../images/waltonLogo15BW.gif') left center no-repeat;
}
#switcher li ul li a {
	color: white;
	text-decoration: none;
	width: 100%;
	display:block;
	padding-left: 20px;
	background-image: none;
}
#switcher ul a:hover {
	color:#415473;
	background:url('../images/whiteDiamond.gif') left center no-repeat;
}
#switcher li ul li {
	padding: 0px;
	margin-left: 0px;
	list-style-type:none;
	width:160px;
	text-indent: 0px;
}

/*links and images*/
a:link {
	text-decoration: none;
}

a:visited {
	color: #C30;
}

a:hover {
	color: white;
}
a img {
	border: none;
} 
				/*Removes blue border from images in Internet Explorer*/
a {
	outline: none;
} 	
				/*Removes dots from around images in Internet Explorer*/
a:hover {
	color: white;
}

h1.mainHeaders {
	font-size: 24px;
	color: #C30;
}

h2.sideHeader a:hover {
	color:#415473;
}
h2.sideHeader a {
	color: #C30;
	font-size: 80%;
	text-decoration:none;
	text-align: Left;
	padding: 0;
	margin: 0;
}
.lastPara {
	padding-bottom: 20px;
}
.veryLastPara {
	padding-bottom: 50px;
}

/*Forms */

.mainDivForms {
	position: relative;
	clear:both;
	background-color:#d7dce4;
	width: 100%;
	padding: 0px;
	padding-bottom: 25px;
	margin: 0;
}
#formsDiv {
	margin: 2em 2em 2em 0;
}
fieldset {
	position: relative;
	float: left;
	clear: both;
	width: 100%;
	margin: 0 0 -1em 0;
	padding: 0 0 1em 0;
	border-style: none;
	background-color: #F2EFE9;
}
legend {
	padding: 0;
	color: #545351;
	font-weight: bold;
}
legend span {
	position: absolute;
	left: 0.74em;
	top: 0;
	margin-top: 0.5em;
	font-size: 135%;
}
fieldset ol {
	padding: 3.5em 1em 0 1em;
	list-style: none;
}
fieldset li {
	float:left;
	clear: left;
	width: 100%;
	padding-bottom: 1em;
}
fieldset fieldset {
	position: relative;
	float:left;
	margin-bottom: -2.5em;
	border-style: none;
}
fieldset fieldset legend {
	margin-left: 0;
	font-weight: normal;
	top: 0;
}
fieldset fieldset label {
	float: none;
	width: auto;
	margin-right: auto;
}
fieldset.alt {
	float: none;
	border-top: none;
	border-bottom: 1px solid #BFABAB;
}
fieldset.alt2 {
	background-color:#F2EFE9;
	border-bottom: none;
	border-top: 1px solid #BFABAB;
}
fieldset.alt2 p {
	padding-left: 20px;
	color: black;
}
label {
	float: left;
	width: 10em;
	margin-right: 1em;
}
input:focus {
	background-color: #FCFCFC;
}
	                      /*Adds focus to contact us form*/
textarea:focus {
	background-color: #FCFCFC;
}	    
                  /*Adds focus to contact us form*/
span.requiredField {
	padding-right: 5px;
	float: right;
	background: url('../images/formStar.gif') no-repeat;
}
/*SlideShow*/

#slideshowList1 {
	padding-left: 45px;
	padding-top: 30px;
	padding-bottom: 20px;
}
#slideshowList2 {
	padding-top: 10px;
	padding-left: 80px;
}
ul {
	list-style-type: none;
}
#showImage {
	padding-left: 50px;
}
#slideshowDiv {
	padding-left: 50px;
}
p.quot {
	line-height: 1.6em;
	font-size: 90%;
	margin: 0px 50px 5px 20px;
}

/*box container*/

#boxContainer {
	padding-top: 50px;
	display:block;
	font-size: 14px;
}
.box {
	width:20%;
	min-height:200px;
	margin-left:20%;
	float:left;
	display:inline;
	background:#d7dce4;
}
.box2 {
	width:20%;
	min-height:200px;
	margin-left:5%;
	background:#d7dce4;
	float:left;
	display:inline;
}
.box3 {
	width:20%;
	min-height:200px;
	margin-left: 5%;
	float:left;
	display:inline;
	background: #d7dce4;
}
#boxes ul {
	list-style: none;
	margin-left: 1em;
	padding-left:1.3em;
}
#boxes li {
	background-position:0px;
	padding-left: 1em;
}
#belowBoxes {
	padding-top: 50px;
	clear:both
}


ul.timelineList
	{font-size: 90%;
	margin: 10px 70px 40px 10px;
	}


ul.timelineList li
	{
	border: none;
	margin: 10px 70px 10px 10px;
	list-style-type: circle;
	}